
.tt{
    margin-left: 3rem;
    width: 20rem;
}

.title{
    margin-top: 1rem;
    padding-left: 3rem;
}

#Email {
    border-radius: 4rem;
}
#Password {
    border-radius: 4rem;
}

.bborder{
    margin-top: 20rem;
    margin-left: 40%;
    width: 25rem;
    height: 17rem;
    border: 1px solid #FFEBA4;
    background-color: #FFEBA4;
    border-radius: 2rem;
}

button{
    margin-left: 8rem;
    margin-top: 1.5rem;
    width: 10rem;
    border-radius: 4rem;
}
#Sign {
    background-color: #E684C1;
    border-color: #E684C1;
}